@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital, wght@0, 300;0, 400;0, 500;0, 700;1, 300;1, 400;1, 500;1, 700 &display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


:root {
	--primary-color: #254336;
	--secondary-color: #6B8A7A;
	--success-color: #28a745;
	--info-color: #17a2b8;
	--warning-color: #ffc107;
	--danger-color: #dc3545;
	--light-color: #f8f9fa;
	--dark-color: #343a40;
	--hover-color: #007bff;
	--dark-theme: #131212;
	--light-theme: #f0f0f0;
	--dark-theme-card: #1c1c1c;
	--light-theme-card: #fff;

}


/* Varsayılan tema (Light) */
body {
	background-color: var(--light-theme);
	color: #1c1c1c;
	transition: background-color 0.3s, color 0.3s;
	height: 100vh;
	overflow: hidden;
}

/* Dark tema */
body.dark-theme {
	background-color: var(--dark-theme);
	color: #e0e0e0;
}

/* scroll css minimalis	*/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body.dark-theme ::-webkit-scrollbar {
	width: 10px;
}

body.dark-theme ::-webkit-scrollbar-track {
	background: #afa3a3;
}

body.dark-theme ::-webkit-scrollbar-thumb {
	background: #000000;
}


.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* tema değiştikten sonra buton */
body.dark-theme [aria-pressed] {
	color: yellow !important;
}

/* tema değiştikten sonra buton */
body [aria-pressed] {
	color: black !important;
}

[aria-pressed] {
	top: 1rem;
	right: 1rem;
	width: 48px;
	aspect-ratio: 1;
	padding: 0;
	border: 0;
	display: grid;
	place-items: center;
	border-radius: 6px;
	transition: background 0.2;
	cursor: pointer;
	background-color: color-mix(in lch, canvas, canvasText calc(var(--intent) * 15%));
}


[aria-pressed=true] path:nth-of-type(1) {
	display: none;
}
[aria-pressed=false] path:nth-of-type(2) {
	display: none;
}

.btn-svg svg {
	width: 50%;
}

.btn-svg:is(:focus-visible, :hover) {
	--intent: 1;
}

body.hidden{
	overflow: hidden;
}

body.dark-theme .navbar {
	background-color: var(--dark-theme) !important;
	color: #fff;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #333;
}

.navbar {
	background-color: var(--light-theme);
	color: #333;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #e9ecef;
	z-index: 2;
}

.user-menu-li a {
	color: (var(--primary-color)) !important;
	font-size: 16px;
	font-weight: 500;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

body.dark-theme .user-menu-li a {
	color: #fff !important;
}

.user-menu-li a:hover {
	--intent: 1;
}
.user-menu-li a img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.user-menu-li .dropdown-menu {
	background-color: #fff;
	border: 1px solid #e9ecef;
	border-radius: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 0;
	margin-top: 17px;
	min-width: 200px;
	/* en sola al */
	position: absolute;
	left: -155px;
}

body.dark-theme .user-menu-li .dropdown-menu {
	background-color: var(--dark-theme);
	border: 1px solid #333;
}

.user-menu-li .dropdown-menu a {
	color: #333;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 20px;
	text-decoration: none;
}

body.dark-theme .user-menu-li .dropdown-menu a {
	color: #fff;
}

.user-menu-li .dropdown-menu a:hover {
	background-color: #e4e9ee;
}


body.dark-theme .user-menu-li .dropdown-menu a:hover {
	background-color: #333;
}

.navbar-nav .nav-item {
	margin: 0 10px;
}

.navbar-nav .nav-item a {
	color: var(--primary-color);
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
}

body.dark-theme .navbar-nav .nav-item a {
	color: #fff;
}

.navbar-nav .nav-item a:hover {
	color: var(--hover-color);
}


body.dark-theme .navbar-nav .nav-item a:hover {
	color: var(--hover-color);
}


.navbar-nav .nav-item a.active {
	color: var(--hover-color);
}

body.dark-theme .navbar-nav .nav-item a.active {
	color: var(--hover-color);
}

.navbar-nav .nav-item a.active::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--hover-color);
	margin-top: 5px;
}


.navbar-nav .nav-item a.active:hover {
	color: var(--hover-color);
}

.navbar-nav .nav-item a.active:hover::after {
	background-color: var(--hover-color);
}

.navbar-toggler {
	color: var(--primary-color);
	border: none;
}

.navbar-toggler:focus {
	outline: none;
}

.navbar-toggler-icon {
	background-color: white;
	border: 3px solid var(--primary-color);
	color: #fff !important;
	border-radius: 5px;
}

body.dark-theme .navbar-toggler-icon {
	background-color: var(--dark-theme);
	border: 3px solid #fff;
}

.navbar-collapse .navbar-nav {
	align-items: center;
	transition: all 0.3s ease;
}


.navbar-collapse.show {
	justify-content: flex-end;
}

.navbar-collapse.show .navbar-nav {
	align-items: center;
	border: 1px solid #e9ecef;
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body.dark-theme .navbar-collapse.show .navbar-nav {
	background-color: var(--dark-theme);
	border: 1px solid #333;
}

.navbar-collapse.show .navbar-nav .dropdown-menu {
	background-color: #fff;
	border: 1px solid #e9ecef;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 0;
	margin-top: 10px;
	min-width: 200px;
	position: absolute;
	/* center */
	left: 50%;
	transform: translateX(-50%);
}

body.dark-theme .navbar-collapse.show .navbar-nav .dropdown-menu {
	background-color: var(--dark-theme);
	border: 1px solid #333;
}

.navbar-collapse.show .navbar-nav .nav-item {
	margin: 0 10px;
}

.navbar-collapse.show .navbar-nav .nav-item a {
	color: var(--primary-color);
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
}

body.dark-theme .navbar-collapse.show .navbar-nav .nav-item a {
	color: #fff;
}

.navbar-collapse.show .navbar-nav .nav-item a:hover {
	color: var(--hover-color);
}

body.dark-theme .navbar-collapse.show .navbar-nav .nav-item a:hover {
	color: var(--hover-color);
}

.navbar-collapse.show .navbar-nav .nav-item a.active {
	color: var(--hover-color);
}

body.dark-theme .navbar-collapse.show .navbar-nav .nav-item a.active {
	color: var(--hover-color);
}

.navbar-collapse.show .navbar-nav .nav-item a.active::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--hover-color);
	margin-top: 5px;
}

.navbar-collapse.show .navbar-nav .nav-item a.active:hover {
	color: var(--hover-color);
}

.navbar-collapse.show .navbar-nav .nav-item a.active:hover::after {
	background-color: var(--hover-color);
}

.navbar-brand {
	color: var(--primary-color);
	font-size: 24px;
	font-weight: 500;
}

body.dark-theme .navbar-brand {
	color: #fff;
}

.navbar-brand:hover {
	color: var(--hover-color);
}

body.dark-theme .navbar-brand:hover {
	color: var(--hover-color);
}


.navbar-brand img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.navbar-brand span {
	margin-left: 10px;
}

.fixed.left-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 290px;
	height: 100%;
	margin-top: 65px;
	background-color: var(--light-theme-card);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
	transition: width 0.3s;
	border-right: 1px solid #e9ecef;
}



.fixed.left-bar.show-sidebar {
	display: block;
	transition: all 3s;
}

/* width animasyonu */
.fixed.left-bar.show-sidebar {
	width: 290px;
}

body.dark-theme .fixed.left-bar {
	background-color: var(--dark-theme-card);
	border-right: 1px solid #333;
}

.left-bar-content {
	padding: 20px;
}

.left-bar-content .search-bar {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.left-bar-content .search-bar input {
	width: 100%;
	height: 40px;
	border: 1px solid #e9ecef;
	border-radius: 5px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 500;
	box-shadow: none;
	background-color: var(--dark-theme) !important;
	position: relative;
}

/* filter button add under input */

.left-bar-content .search-bar .dropdown {
	position: absolute;
	right: 27px;
	background-color: transparent;
	border-radius: 5px;
}

.left-bar-content .search-bar .dropdown a {
	border: none;
	color: #e9ecef;
	font-size: 16px;
	font-weight: 500;
	padding: 10px;
	width: 100%;
	text-align: left;
}

.left-bar-content .search-bar .dropdown a:hover {
	color: var(--hover-color);
}


.left-bar-content .search-bar .dropdown .dropdown-menu {
	background-color: #fff;
	border: 1px solid #e9ecef;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 0;
	margin-top: 10px;
	min-width: 200px;
	position: absolute;
	/* center */
}

body.dark-theme .left-bar-content .search-bar .dropdown .dropdown-menu {
	background-color: var(--dark-theme);
	border: 1px solid #333;
}

body.dark-theme .left-bar-content .search-bar input {
	background-color: var(--dark-theme);
	color: #fff;
	border: 1px solid #333;
}

body.dark-theme .left-bar-content .search-bar input::placeholder {
	color: #fff !important;
}

.left-bar-content .words {
	margin-bottom: 20px;
	padding-bottom: 28px;
}

.left-bar-content .words .word {
	display: flex;
	align-items: center;
	justify-content: start;
	border-bottom: 1px solid #e9ecef;
	padding: 10px;
	cursor: pointer;
}

.left-bar-content .words .word.active{
	background-color: #f8f9fa;
	color: var(--hover-color);
}

.left-bar-content .words .word:last-child {
	border-bottom: none;
}

.left-bar-content .words .word:hover {
	background-color: #f8f9fa;
	color: var(--hover-color);
}


.left-bar-content .words .word-status .badge {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
	/* içindeki yazıyı sil */
	font-size: 0;
}


.left-bar-content .words .word-status .badge.active {
	background-color: var(--success-color);
}

.left-bar-content .words .word-status .badge.passive {
	background-color: var(--danger-color);
}

.left-bar-content .words .word-status .badge.pending {
	background-color: var(--warning-color);
}

.left-bar-content .words .word-status .badge.unknown {
	background-color: var(--info-color);
}

.left-bar-content .words .word-title {
	font-size: 16px;
	font-weight: 500;
	margin-top: 13px;
}

.left-bar-content .words .word-title span {
	font-size: 14px;
	font-weight: 400;
}

.left-bar-content .words .word-title span:hover {
	color: var(--hover-color);
}

.word-edit-area {
	margin-left: 300px;
	margin-right: 300px;
	padding-top: 7px;
	overflow-y: auto;
}

.word-edit-area .word-edit{
	overflow: auto;
    max-height: 100vh;
	border: 1px solid #e9ecef;
	border-bottom: none;
	border-bottom-left-radius: 5px;
}

body.dark-theme .word-edit-area .word-edit{
	border: 1px solid #333;
	border-bottom: none;
}


.word-edit-area  .word-edit .responsive-buttons {
	display: none;
}

.word-edit-area  .word-edit .responsive-buttons .toggle-btn {
	background-color: var(--light-theme-card);
	border: 1px solid #e9ecef;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
}

.word-edit-area  .word-edit .responsive-buttons .toggle-btn.toggle-btn-right {
	position: absolute;
	right: 0;
}

.word-edit-area  .word-edit .responsive-buttons .toggle-btn.toggle-btn-left {
	position: absolute;
	left: 0;
}


.word-edit-area  .word-edit .responsive-buttons .toggle-btn svg {
	width: 20px;
	height: 20px;
	color: var(--primary-color);
}

body.dark-theme .word-edit-area  .word-edit .responsive-buttons .toggle-btn {
	background-color: var(--dark-theme-card);
	border: 1px solid #333;
}

body.dark-theme .word-edit-area  .word-edit .responsive-buttons .toggle-btn svg {
	color: #fff !important;
}



.word-edit-area .word-edit .word-edit-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 4px;
}

.word-edit-area .word-edit .word-edit-header .word-edit-title {
	font-size: 24px;
	font-weight: 500;
}

.word-edit-area .word-edit .word-edit-header .word-edit-status .badge {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
	/* içindeki yazıyı sil */
	font-size: 0;
}

.word-edit-area .word-edit .word-edit-header .word-edit-status .badge.active {
	background-color: var(--success-color);
}

.word-edit-area .word-edit .word-edit-header .word-edit-status .badge.passive {
	background-color: var(--danger-color);
}

.word-edit-area .word-edit .word-edit-header .word-edit-status .badge.pending {
	background-color: var(--warning-color);
}

.word-edit-area .word-edit .word-edit-header .word-edit-status .badge.unknown {
	background-color: var(--info-color);
}

.word-edit-area .word-edit .word-edit-header .word-edit-title span {
	font-size: 14px;
	font-weight: 400;
}

.word-edit-area .word-edit .word-edit-header .word-edit-title span:hover {
	color: var(--hover-color);
}

.word-edit-area .word-edit .word-edit-body .word-edit-form {
	background-color: var(--light-theme-card);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body.dark-theme .word-edit-area .word-edit .word-edit-body .word-edit-form {
	background-color: var(--dark-theme-card);
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group {
	margin-bottom: 20px;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group label {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group input {
	width: 100%;
	height: 40px;
	border-radius: 0px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 500;
	box-shadow: none;
}

body.dark-theme .word-edit-area .word-edit .word-edit-body .word-edit-form .form-group input {
	background-color: var(--dark-theme);
	color: #fff;
	border: 1px solid #333;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group input::placeholder {
	color: #333;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group input:focus {
	border: 1px solid var(--primary-color) !important;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	margin-bottom: 20px;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .btn {
	height: 40px;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .info{
	background-color: var(--info-color);
	color: #fff;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .great{
	background-color: #6B8A7A;
	color: #fff;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .great:hover{
	background-color: #6B8A7A;
}



.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .info:hover{
	background-color: #17a2b8;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .success{
	background-color: var(--success-color);
	color: #fff;
	/* en sona at */
	margin-left: auto;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .success:hover{
	background-color: #28a745;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .primary{
	background-color: var(--primary-color);
	color: #fff;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .primary:hover{
	background-color: #254336;
}
.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group textarea {
	width: 100%;
	height: 100px;
	border-radius: 0px;
	padding: 10px;
	font-size: 16px;
	font-weight: 500;
	box-shadow: none;
}

body.dark-theme .word-edit-area .word-edit .word-edit-body .word-edit-form .form-group textarea {
	background-color: var(--dark-theme);
	color: #fff;
	border: 1px solid #333;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group textarea::placeholder {
	color: #333;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group textarea:focus {
	border: 1px solid var(--primary-color) !important;
}




.word-edit-area .word-edit .word-edit-body .word-edit-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 20px;
}



.word-edit-footer .nav.nav-pills .nav-item button {
	color: var(--primary-color) !important;
	font-size: 10px;
	font-weight: 400;
	text-decoration: none;
	border: none;
	background-color: #f8f9fa;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 0px;
}

.word-edit-body .tab-content .tab-pane {
	padding: 0;
}



body.dark-theme .word-edit-footer .nav.nav-pills .nav-item button {
	color: #fff !important;
	background-color: var(--dark-theme-card);
}

.word-edit-footer .nav.nav-pills .nav-item button:hover {
	color: var(--hover-color);
	background-color: #f8f9fa !important;
}

body.dark-theme .word-edit-footer .nav.nav-pills .nav-item button:hover {
	color: var(--hover-color);
	background-color: #333 !important;
}

.word-edit-footer .nav.nav-pills .nav-item button.active {
	color: var(--hover-color);
	background-color: #f8f9fa !important;
}

body.dark-theme .word-edit-footer .nav.nav-pills .nav-item button.active {
	color: var(--hover-color);
	background-color: #333 !important;
}

.word-edit-area .word-edit .word-edit-body .word-edit-footer .btn {
	height: 40px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.word-edit-area .word-edit .word-edit-body .word-edit-footer .success{
	background-color: var(--success-color);
	color: #fff;
}

.word-edit-area .word-edit .word-edit-body .word-edit-footer .success:hover{
	background-color: #28a745;
}

.word-edit-area .word-edit .word-edit-body .word-edit-footer .danger{
	background-color: var(--danger-color);
	color: #fff;
}


.fixed.right-bar {
	position: absolute;
	top: 0;
	right: 0;
	width: 290px;
	height: 100%;
	margin-top: 65px;
	background-color: var(--light-theme-card);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
	transition: width 0.3s;
	border-left: 1px solid #e9ecef;
}

.fixed.right-bar.show-sidebar {
	display: block;
	transition: all 3s;
}

body.dark-theme .fixed.right-bar {
	background-color: var(--dark-theme-card);
	border-left: 1px solid #333;
}

.right-bar-content {
	max-height: 60%;
	overflow-y: auto;
}



.right-bar-content .nav.nav-pills{
	display: flex;
	padding: 0px !important;
	text-align: center;
	margin: 0px !important;
	justify-content: center;
	flex-wrap: wrap;
}


.right-bar-content .nav.nav-pills .nav-item button {
	color: var(--primary-color) !important;
	font-size: 10px;
	font-weight: 400;
	text-decoration: none;
	border: none;
	background-color: #f8f9fa;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 0px;

}

body.dark-theme .right-bar-content .nav.nav-pills .nav-item button {
	color: #fff !important;
	background-color: var(--dark-theme-card);
}

.right-bar-content .nav.nav-pills .nav-item button:hover {
	color: var(--hover-color);
	background-color: #f8f9fa !important;
}

body.dark-theme .right-bar-content .nav.nav-pills .nav-item button:hover {
	color: var(--hover-color);
	background-color: #333 !important;
}

.right-bar-content .nav.nav-pills .nav-item button.active {
	color: var(--hover-color);
	background-color: #f8f9fa !important;
}


body.dark-theme .right-bar-content .nav.nav-pills .nav-item button.active {
	color: var(--hover-color);
	background-color: #333 !important;
}


.right-bar-content .tab-content{
	padding: 0;

}

.right-bar-content .tab-content .tab-pane {
	padding: 0;
}



.righ-bar .example-senctences-area {
	margin-top: 20px;
}
.example-senctences-area .example-senctence {
	border-bottom: 1px solid #e9ecef;
	cursor: pointer;
	padding: 10px !important;
}

.example-senctences-area .example-senctence:last-child {
	border-bottom: none;
}

.example-senctences-area .example-senctence .information .badge{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
	/* içindeki yazıyı sil */
	font-size: 0;
}

.example-senctences-area .example-senctence .information .badge.success {
	background-color: var(--success-color)
}

.example-senctences-area .example-senctence .information .badge.danger {
	background-color: var(--danger-color)
}

.example-senctences-area .example-senctence .information .badge.warning {
	background-color: var(--warning-color)
}



.example-senctences-area .example-senctence:hover {
	background-color: #f8f9fa;
	color: var(--hover-color);
}

body.dark-theme .example-senctences-area .example-senctence:hover {
	background-color: var(--light-theme-card);
}

.example-senctences-area .example-senctence .example-senctence-body{
	font-size: 14px;
	font-weight: 500;
}

.example-senctences-area .example-senctence .example-senctence-body .num{
	font-size: 20px;
	font-weight: 400;
	color: var(--info-color);
}


.example-senctences-area .example-senctence:hover .example-senctence-body .num{
	color: var(--dark-theme);
}

.example-senctences-area .example-senctence .example-senctence-footer{
	display: none;
}


.example-senctences-area .example-senctence:hover .example-senctence-footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 8px;
	padding-right: 8px;
	gap: 10px;
}
.example-senctences-area .example-senctence:hover .example-senctence-footer button {
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.example-senctences-area .example-senctence:hover .example-senctence-footer button.info{
	color: var(--info-color);
	margin-right: auto;
}

.example-senctences-area .example-senctence:hover .example-senctence-footer button.info:hover{
	color: var(--dark-theme);
}

.example-senctences-area .example-senctence:hover .example-senctence-footer button.success{
	color: var(--success-color);
}

.example-senctences-area .example-senctence:hover .example-senctence-footer button.success:hover{
	color: var(--dark-theme);
}

.example-senctences-area .example-senctence:hover .example-senctence-footer button.danger{
	color: var(--danger-color);
}

.example-senctences-area .example-senctence:hover .example-senctence-footer button.danger:hover{
	color: var(--dark-theme);
}


.synonym-area .synonym {
	border-bottom: 1px solid #e9ecef;
	cursor: pointer;
	padding: 10px !important;
}

.synonym-area .synonym:last-child {
	border-bottom: none;
}

.synonym-area .synonym:hover {
	background-color: #f8f9fa;
	color: var(--hover-color);
}

body.dark-theme .synonym-area .synonym:hover {
	background-color: var(--light-theme-card);
}

.synonym-area .synonym .synonym-body .synonym-text{
	font-size: 14px;
	font-weight: 500;
	margin-left: 10px;
}

.synonym-area .synonym .synonym-body .badge{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	/* içindeki yazıyı sil */
	font-size: 0;
}

.synonym-area .synonym .synonym-body .badge.success {
	background-color: var(--success-color)
}

.synonym-area .synonym .synonym-body .badge.danger {
	background-color: var(--danger-color)
}

.synonym-area .synonym .synonym-body .badge.warning {
	background-color: var(--warning-color)
}

.synonym-area .synonym .synonym-body .num{
	font-size: 20px;
	font-weight: 400;
	color: var(--info-color);
}

.synonym-area .synonym:hover .synonym-body .num{
	color: var(--dark-theme);
}

body.dark-theme .synonym-area .synonym:hover .synonym-body .num{
	color: var(--dark-theme);
}

.synonym-area .synonym .synonym-footer{
	padding-left: 8px;
	padding-right: 8px;
	gap: 10px;
	margin-top: 10px;
}

.synonym-area .synonym .information .badge{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
	/* içindeki yazıyı sil */
	font-size: 0;
}

.synonym-area .synonym .information .badge.success {
	background-color: var(--success-color)
}

.synonym-area .synonym .information .badge.danger {
	background-color: var(--danger-color)
}

.synonym-area .synonym .information .badge.warning {
	background-color: var(--warning-color)
}



.synonym-area .synonym .synonym-footer button {
	border: none;
	cursor: pointer;
}

.synonym-area .synonym .synonym-footer button.success{
	color: var(--success-color);
}

.synonym-area .synonym .synonym-footer button.success:hover{
	color: var(--dark-theme);
}

.synonym-area .synonym .synonym-footer button.danger{
	color: var(--danger-color);
}

.synonym-area .synonym .synonym-footer button.danger:hover{
	color: var(--dark-theme);
}

.synonym-area .synonym .synonym-footer button.info{
	color: var(--info-color);
}

.synonym-area .synonym .synonym-footer button.info:hover{
	color: var(--dark-theme);
}

.comments-area .comments-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.comments-area .comments-input input {
	width: 80%;
	height: 40px;
	border: 1px solid #e9ecef;
	border-radius: 0;
	font-size: 14px;
	font-weight: 500;
	padding: 0 10px;
	box-shadow: none;
}

body.dark-theme .comments-area .comments-input input {
	background-color: var(--dark-theme);
	color: #fff;
	border: 1px solid #333;
}

.comments-area .comments-input input::placeholder {
	color: #333;
}

.comments-area .comments-input input:focus {
	border: 1px solid var(--primary-color) !important;
}

.comments-area .comments-input button {
	border: none;
	border-radius: 0px;
	background-color: var(--primary-color);
	color: #fff;
	font-size: 16px;
	padding: 8px 15px;
	font-weight: 500;
	cursor: pointer;
}

.comments-area .comments-input button:hover {
	background-color: var(--hover-color);
}

.comments-area .comments-input button:focus {
	outline: none;
}

.comments-area .comments {
	margin-top: 20px;
}

.comments-area .comment {
	border-bottom: 1px solid #e9ecef;
	padding: 10px;
}

.comments-area .comment:hover {
	background-color: #f8f9fa;
	color: var(--hover-color);
}

body.dark-theme .comments-area .comment:hover {
	background-color: var(--light-theme-card);
}

.comments-area .comment:last-child {
	border-bottom: none;
}

.comments-area .comment .comment-header {
	display: flex;
	align-items: center;
	justify-content: start;
}

.comments-area .comment .comment-header .comment-avatar {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.comments-area .comment .comment-header .comment-avatar img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.comments-area .comment .comment-header .comment-info {
	margin-left: 10px;
}

.comments-area .comment .comment-header .comment-info .comment-name {
	font-size: 16px;
	font-weight: 500;
}

.comments-area .comment .comment-header .comment-info .comment-date {
	font-size: 14px;
	font-weight: 400;
}

.comments-area .comment .comment-body {
	margin-top: 10px;
}

.comments-area .comment .comment-body p {
	font-size: 14px;
	font-weight: 500;
}

.comments-area .comment .comment-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}

.comments-area .comment .comment-footer button {
	border: none;
	cursor: pointer;
}

.comments-area .comment .comment-footer button.success{
	color: var(--success-color);
}

.comments-area .comment .comment-footer button.success:hover{
	color: var(--dark-theme);
}

.comments-area .comment .comment-footer button.danger{
	color: var(--danger-color);
}

.comments-area .comment .comment-footer button.danger:hover{
	color: var(--dark-theme);
}

.comments-area .comment .comment-footer button.info{
	color: var(--info-color);
}

.comments-area .comment .comment-footer button.info:hover{
	color: var(--dark-theme);
}

.righ-bar-half {
	border-top: 1px solid #e9ecef;
	overflow-y: auto;
	height: 32%;
}

.righ-bar-half .nav.nav-pills{
	display: flex;
	padding: 0px !important;
	text-align: center;
	margin: 0px !important;
	justify-content: center;
	flex-wrap: wrap;
}

.righ-bar-half .nav.nav-pills .nav-item button {
	color: var(--primary-color) !important;
	font-size: 10px;
	font-weight: 400;
	text-decoration: none;
	border: none;
	background-color: #f8f9fa;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 0px;

}

body.dark-theme .righ-bar-half .nav.nav-pills .nav-item button {
	color: #fff !important;
	background-color: var(--dark-theme-card);
}

.righ-bar-half .nav.nav-pills .nav-item button:hover {
	color: var(--hover-color);
	background-color: #f8f9fa !important;
}

body.dark-theme .righ-bar-half .nav.nav-pills .nav-item button:hover {
	color: var(--hover-color);
	background-color: #333 !important;
}

.righ-bar-half .nav.nav-pills .nav-item button.active {
	color: var(--hover-color);
	background-color: #f8f9fa !important;
}

body.dark-theme .righ-bar-half .nav.nav-pills .nav-item button.active {
	color: var(--hover-color);
	background-color: #333 !important;
}

.righ-bar-half .tab-content{
	padding: 0;

}

.righ-bar-half .tab-content .tab-pane {
	padding: 0;
}

.righ-bar-half .translations{
	margin-top: 20px;
}

.righ-bar-half .translations .translation {
	border-bottom: 1px solid #e9ecef;
	cursor: pointer;
	padding: 10px !important;
}

.righ-bar-half .translations .translation:last-child {
	border-bottom: none;
}

.righ-bar-half .translations .translation:hover {
	background-color: #f8f9fa;
	color: var(--hover-color);
}

body.dark-theme .righ-bar-half .translations .translation:hover {
	background-color: var(--light-theme-card);
}

.righ-bar-half .translations .translation .translation-title{
	font-size: 14px;
	font-weight: 500;
}


.righ-bar-half .translations .translation .translation-body .original-text{
	font-size: 14px;
	font-weight: 400;
	color: var(--info-color);
}

.righ-bar-half .translations .translation .translation-body .translation-text{
	font-size: 14px;
	font-weight: 400;
	color: var(--success-color);
}






