@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital, wght@0, 300;0, 400;0, 500;0, 700;1, 300;1, 400;1, 500;1, 700 &display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


:root {
	--primary-color: #254336;
	--secondary-color: #6B8A7A;
	--success-color: #28a745;
	--info-color: #17a2b8;
	--warning-color: #ffc107;
	--danger-color: #dc3545;
	--light-color: #f8f9fa;
	--dark-color: #343a40;
	--hover-color: #007bff;
	--dark-theme: #131212;
	--light-theme: #f0f0f0;
	--dark-theme-card: #1c1c1c;
	--light-theme-card: #fff;

}


/* Varsayılan tema (Light) */
body {
	background-color: var(--light-theme);
	color: #1c1c1c;
	transition: background-color 0.3s, color 0.3s;
}

/* Dark tema */
body.dark-theme {
	background-color: var(--dark-theme);
	color: #e0e0e0;
}


.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* tema değiştikten sonra buton */
body.dark-theme [aria-pressed] {
	color: yellow !important;
}

/* tema değiştikten sonra buton */
body [aria-pressed] {
	color: black !important;
}

[aria-pressed] {
	top: 1rem;
	right: 1rem;
	width: 48px;
	aspect-ratio: 1;
	padding: 0;
	border: 0;
	display: grid;
	place-items: center;
	border-radius: 6px;
	transition: background 0.2;
	cursor: pointer;
	background-color: color-mix(in lch, canvas, canvasText calc(var(--intent) * 15%));
}


[aria-pressed=true] path:nth-of-type(1) {
	display: none;
}
[aria-pressed=false] path:nth-of-type(2) {
	display: none;
}

.btn-svg svg {
	width: 50%;
}

.btn-svg:is(:focus-visible, :hover) {
	--intent: 1;
}

body.dark-theme .navbar {
	background-color: var(--dark-theme) !important;
	color: #fff;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #333;
}

.navbar {
	background-color: var(--light-theme);
	color: #333;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #e9ecef;
	z-index: 2;
}

.user-menu-li a {
	color: (var(--primary-color)) !important;
	font-size: 16px;
	font-weight: 500;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

body.dark-theme .user-menu-li a {
	color: #fff !important;
}

.user-menu-li a:hover {
	--intent: 1;
}
.user-menu-li a img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.user-menu-li .dropdown-menu {
	background-color: #fff;
	border: 1px solid #e9ecef;
	border-radius: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 0;
	margin-top: 17px;
	min-width: 200px;
	/* en sola al */
	position: absolute;
	left: -155px;
}

body.dark-theme .user-menu-li .dropdown-menu {
	background-color: var(--dark-theme);
	border: 1px solid #333;
}

.user-menu-li .dropdown-menu a {
	color: #333;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 20px;
	text-decoration: none;
}

body.dark-theme .user-menu-li .dropdown-menu a {
	color: #fff;
}

.user-menu-li .dropdown-menu a:hover {
	background-color: #e4e9ee;
}


body.dark-theme .user-menu-li .dropdown-menu a:hover {
	background-color: #333;
}

.navbar-nav .nav-item {
	margin: 0 10px;
}

.navbar-nav .nav-item a {
	color: var(--primary-color);
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
}

body.dark-theme .navbar-nav .nav-item a {
	color: #fff;
}

.navbar-nav .nav-item a:hover {
	color: var(--hover-color);
}


body.dark-theme .navbar-nav .nav-item a:hover {
	color: var(--hover-color);
}


.navbar-nav .nav-item a.active {
	color: var(--hover-color);
}

body.dark-theme .navbar-nav .nav-item a.active {
	color: var(--hover-color);
}

.navbar-nav .nav-item a.active::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--hover-color);
	margin-top: 5px;
}


.navbar-nav .nav-item a.active:hover {
	color: var(--hover-color);
}

.navbar-nav .nav-item a.active:hover::after {
	background-color: var(--hover-color);
}

.navbar-toggler {
	color: var(--primary-color);
	border: none;
}

.navbar-toggler:focus {
	outline: none;
}

.navbar-toggler-icon {
	background-color: white;
	border: 3px solid var(--primary-color);
	color: #fff !important;
	border-radius: 5px;
}

body.dark-theme .navbar-toggler-icon {
	background-color: var(--dark-theme);
	border: 3px solid #fff;
}

.navbar-collapse .navbar-nav {
	align-items: center;
	transition: all 0.3s ease;
}


.navbar-collapse.show {
	justify-content: flex-end;
}

.navbar-collapse.show .navbar-nav {
	align-items: center;
	border: 1px solid #e9ecef;
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body.dark-theme .navbar-collapse.show .navbar-nav {
	background-color: var(--dark-theme);
	border: 1px solid #333;
}

.navbar-collapse.show .navbar-nav .dropdown-menu {
	background-color: #fff;
	border: 1px solid #e9ecef;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 0;
	margin-top: 10px;
	min-width: 200px;
	position: absolute;
	/* center */
	left: 50%;
	transform: translateX(-50%);
}

body.dark-theme .navbar-collapse.show .navbar-nav .dropdown-menu {
	background-color: var(--dark-theme);
	border: 1px solid #333;
}

.navbar-collapse.show .navbar-nav .nav-item {
	margin: 0 10px;
}

.navbar-collapse.show .navbar-nav .nav-item a {
	color: var(--primary-color);
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
}

body.dark-theme .navbar-collapse.show .navbar-nav .nav-item a {
	color: #fff;
}

.navbar-collapse.show .navbar-nav .nav-item a:hover {
	color: var(--hover-color);
}

body.dark-theme .navbar-collapse.show .navbar-nav .nav-item a:hover {
	color: var(--hover-color);
}

.navbar-collapse.show .navbar-nav .nav-item a.active {
	color: var(--hover-color);
}

body.dark-theme .navbar-collapse.show .navbar-nav .nav-item a.active {
	color: var(--hover-color);
}

.navbar-collapse.show .navbar-nav .nav-item a.active::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--hover-color);
	margin-top: 5px;
}

.navbar-collapse.show .navbar-nav .nav-item a.active:hover {
	color: var(--hover-color);
}

.navbar-collapse.show .navbar-nav .nav-item a.active:hover::after {
	background-color: var(--hover-color);
}

.navbar-brand {
	color: var(--primary-color);
	font-size: 24px;
	font-weight: 500;
}

body.dark-theme .navbar-brand {
	color: #fff;
}

.navbar-brand:hover {
	color: var(--hover-color);
}

body.dark-theme .navbar-brand:hover {
	color: var(--hover-color);
}


.navbar-brand img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.navbar-brand span {
	margin-left: 10px;
}

.fixed.left-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 290px;
	height: 100%;
	margin-top: 65px;
	background-color: var(--light-theme-card);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
	transition: width 0.3s;
	border-right: 1px solid #e9ecef;
}

body.dark-theme .fixed.left-bar {
	background-color: var(--dark-theme-card);
	border-right: 1px solid #333;
}

.left-bar-content {
	padding: 20px;
}

.left-bar-content .search-bar {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.left-bar-content .search-bar input {
	width: 100%;
	height: 40px;
	border: 1px solid #e9ecef;
	border-radius: 5px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 500;
	box-shadow: none;
	background-color: var(--dark-theme) !important;
	position: relative;
}

/* filter button add under input */

.left-bar-content .search-bar .dropdown {
	position: absolute;
	right: 27px;
	background-color: transparent;
	border-radius: 5px;
}

.left-bar-content .search-bar .dropdown a {
	border: none;
	color: #e9ecef;
	font-size: 16px;
	font-weight: 500;
	padding: 10px;
	width: 100%;
	text-align: left;
}

.left-bar-content .search-bar .dropdown a:hover {
	color: var(--hover-color);
}


.left-bar-content .search-bar .dropdown .dropdown-menu {
	background-color: #fff;
	border: 1px solid #e9ecef;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	padding: 0;
	margin-top: 10px;
	min-width: 200px;
	position: absolute;
	/* center */
}

body.dark-theme .left-bar-content .search-bar .dropdown .dropdown-menu {
	background-color: var(--dark-theme);
	border: 1px solid #333;
}

body.dark-theme .left-bar-content .search-bar input {
	background-color: var(--dark-theme);
	color: #fff;
	border: 1px solid #333;
}

body.dark-theme .left-bar-content .search-bar input::placeholder {
	color: #fff !important;
}

.left-bar-content .words {
	margin-bottom: 20px;
}

.left-bar-content .words .word {
	display: flex;
	align-items: center;
	justify-content: start;
	border-bottom: 1px solid #e9ecef;
	padding: 10px;
	cursor: pointer;
}

.left-bar-content .words .word:hover {
	background-color: #f8f9fa;
	color: var(--hover-color);
}


.left-bar-content .words .word-status .badge {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
	/* içindeki yazıyı sil */
	font-size: 0;
}


.left-bar-content .words .word-status .badge.active {
	background-color: var(--success-color);
}

.left-bar-content .words .word-status .badge.passive {
	background-color: var(--danger-color);
}

.left-bar-content .words .word-status .badge.pending {
	background-color: var(--warning-color);
}

.left-bar-content .words .word-status .badge.unknown {
	background-color: var(--info-color);
}

.left-bar-content .words .word-title {
	font-size: 16px;
	font-weight: 500;
	margin-top: 13px;
}

.left-bar-content .words .word-title span {
	font-size: 14px;
	font-weight: 400;
}

.left-bar-content .words .word-title span:hover {
	color: var(--hover-color);
}


.word-edit-area {
	margin-left: 300px;
	margin-right: 300px;
	padding: 20px;
}

.word-edit-area .word-edit .word-edit-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	padding: 4px;
}

.word-edit-area .word-edit .word-edit-header .word-edit-title {
	font-size: 24px;
	font-weight: 500;
}

.word-edit-area .word-edit .word-edit-header .word-edit-status .badge {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 10px;
	/* içindeki yazıyı sil */
	font-size: 0;
}

.word-edit-area .word-edit .word-edit-header .word-edit-status .badge.active {
	background-color: var(--success-color);
}

.word-edit-area .word-edit .word-edit-header .word-edit-status .badge.passive {
	background-color: var(--danger-color);
}

.word-edit-area .word-edit .word-edit-header .word-edit-status .badge.pending {
	background-color: var(--warning-color);
}

.word-edit-area .word-edit .word-edit-header .word-edit-status .badge.unknown {
	background-color: var(--info-color);
}

.word-edit-area .word-edit .word-edit-header .word-edit-title span {
	font-size: 14px;
	font-weight: 400;
}

.word-edit-area .word-edit .word-edit-header .word-edit-title span:hover {
	color: var(--hover-color);
}

.word-edit-area .word-edit .word-edit-body .word-edit-form {
	background-color: var(--light-theme-card);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body.dark-theme .word-edit-area .word-edit .word-edit-body .word-edit-form {
	background-color: var(--dark-theme-card);
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group {
	margin-bottom: 20px;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group label {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group input {
	width: 100%;
	height: 40px;
	border: 1px solid var(--light-theme);
	border-radius: 0px;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 500;
	box-shadow: none;
	background-color: var(--dark-theme) !important;
}

body.dark-theme .word-edit-area .word-edit .word-edit-body .word-edit-form .form-group input {
	background-color: var(--dark-theme);
	color: #fff;
	border: 1px solid #333;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group input::placeholder {
	color: #333;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group input:focus {
	border: 1px solid var(--primary-color) !important;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	margin-bottom: 20px;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .btn {
	height: 40px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .info{
	background-color: var(--info-color);
	color: #fff;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .great{
	background-color: #6B8A7A;
	color: #fff;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .great:hover{
	background-color: #6B8A7A;
}



.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .info:hover{
	background-color: #17a2b8;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .success{
	background-color: var(--success-color);
	color: #fff;
	/* en sona at */
	margin-left: auto;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .success:hover{
	background-color: #28a745;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .primary{
	background-color: var(--primary-color);
	color: #fff;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .button-groups .primary:hover{
	background-color: #254336;
}
.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group textarea {
	width: 100%;
	height: 100px;
	border: 1px solid #e9ecef;
	background-color: var(--dark-theme) !important;
	border-radius: 0px;
	padding: 10px;
	font-size: 16px;
	font-weight: 500;
	box-shadow: none;
}

body.dark-theme .word-edit-area .word-edit .word-edit-body .word-edit-form .form-group textarea {
	background-color: var(--dark-theme);
	color: #fff;
	border: 1px solid #333;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group textarea::placeholder {
	color: #333;
}

.word-edit-area .word-edit .word-edit-body .word-edit-form .form-group textarea:focus {
	border: 1px solid var(--primary-color) !important;
}




.word-edit-area .word-edit .word-edit-body .word-edit-footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 20px;
}

.word-edit-area .word-edit .word-edit-body .word-edit-footer .btn {
	height: 40px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
}

.word-edit-area .word-edit .word-edit-body .word-edit-footer .success{
	background-color: var(--success-color);
	color: #fff;
}

.word-edit-area .word-edit .word-edit-body .word-edit-footer .success:hover{
	background-color: #28a745;
}

.word-edit-area .word-edit .word-edit-body .word-edit-footer .danger{
	background-color: var(--danger-color);
	color: #fff;
}


